<%= form_with model: flashcard, url: url, method: method do |f| %>
  <div class="flex w-full flex-col items-center justify-around md:flex-row">
    <%= f.text_field :english_name,
                    autofocus: true,
                    placeholder: "Po angielsku...",
                    class: "#{input_classes} mb-2 md:mr-2 md:w-1/2 md:mb-0" %>
    <%= f.text_field :polish_name,
                    placeholder: "Po polsku...",
                    class: "#{input_classes} mb-2 md:mr-2 md:w-1/2 md:mb-0" %>
    <% if render_position_field %>
      <%= f.number_field :position,
                        placeholder: "Pozycja...",
                        in: 1..@max_position,
                        step: 1,
                        class: "#{input_classes} mb-2 md:mr-2 md:w-1/2 md:mb-0 md:hidden" %>
    <% end %>
    <div class="md:w-58 mb-2 flex w-full items-center md:mb-0">
      <%= link_to "Anuluj",
                  edit_admin_flashcard_set_path(flashcard_set),
                  class: "#{secondary_button_classes} w-24 mr-2" %>
      <%= f.submit "Zapisz",
                   class: "#{submit_button_classes} w-32" %>
    </div>
  </div>
<% end %>
