<div class="mx-auto flex flex-col items-center">
  <div class="flex w-3/4 flex-col">
    <%= render "shared/back_button", back_url: admin_sentence_sets_path, additional_classes: "mb-3" %>
    <%= render "form",
              sentence_set: @sentence_set,
              url: admin_sentence_set_path(@sentence_set),
              method: :patch %>

    <div class="mb-5 mt-5 flex flex-col items-center">
      <div class="mb-2 w-full text-lg">
        Zdania w zestawie:
      </div>
      <%= turbo_frame_tag dom_id(Sentence.new), class: "w-full" do %>
        <%= link_to "+ Dodaj zdanie",
                    new_admin_sentence_set_sentence_path(@sentence_set),
                    class: "text-blue-600 w-full text-left #{hover_classes}" %>
      <% end %>
      
      <%= turbo_frame_tag "sentence_set_edit_sentences",
                          data: {
                            controller: "sortable",
                            sortable_url_value: admin_sentence_set_sentences_path(@sentence_set),
                            sortable_param_name_value: "position",
                          },
                          class: "w-full" do %>
        <%= render @sentences %>
      <% end %>
    </div>
  </div>
  </div>
</div>
