<%= turbo_frame_tag dom_id(sentence),
                    data: { sortable_target: "item",
                            id: sentence.id,
                            position: sentence.position },
                    class: "w-full" do %>
  <div class="mt-2 flex flex-col items-center justify-around md:flex-row">
    <%= render "shared/draggable_button", hide_on_small_screen: true %>
    <div class="mb-2 w-full truncate rounded-lg border border-gray-300 bg-lime-50 px-3 py-2 text-lg shadow-md md:mb-0 md:mr-2 md:w-4/5"><%= sentence.to_s %></div>
    <%= link_to "Edytuj",
                edit_admin_sentence_set_sentence_path(@sentence_set, sentence),
                class: "text-blue-600 #{hover_classes}" %>
    <%= button_to "Usuń",
                  admin_sentence_set_sentence_path(@sentence_set, sentence),
                  method: :delete,
                  form: { data: { turbo_confirm: 'Czy na pewno chcesz usunąć zdanie?' } },
                  class: "text-red-600 #{hover_classes}" %>
  </div>
<% end %>
