<div class="min-h-32 flex items-center justify-center rounded-lg border border-gray-300 bg-lime-50 text-lg">
  <div class="flex flex-col items-center text-sm">
    <div class="mb-3 flex text-lg">
      <%= link_to "Edytuj",
                  edit_admin_flashcard_set_path(flashcard_set),
                  class: "text-blue-600 mr-5 #{hover_classes}" %>
      <%= button_to "Usuń",
                    admin_flashcard_set_path(flashcard_set),
                    method: :delete,
                    form: { data: { turbo_confirm: 'Czy na pewno chcesz usunąć zestaw wraz z wszystkimi fiszkami?' } },
                    class: "text-red-600 #{hover_classes}" %>
    </div>
    <div><%= flashcard_set.english_name %></div>
    <div>(<%= flashcard_set.polish_name %>)</div>
    <% if flashcard_set.active %>
      <div class="text-green-600">Aktywny</div>
    <% else %>
      <div class="text-red-600">Nieaktywny</div>
    <% end %>
    <%= "Ilość fiszek: #{flashcard_set.flashcards.size}" %>
  </div>
</div>
