<div class="mx-auto flex flex-col items-center">
  <div class="flex w-3/4 flex-col">
    <%= render "shared/back_button", back_url: admin_flashcard_sets_path, additional_classes: "mb-3" %>
    <%= render "form",
              flashcard_set: @flashcard_set,
              url: admin_flashcard_set_path(@flashcard_set),
              method: :patch %>

    <div class="mb-5 mt-5 flex flex-col items-center">
      <div class="mb-2 w-full text-lg">
        Fiszki w zestawie:
      </div>
      <%= turbo_frame_tag dom_id(Flashcard.new), class: "w-full" do %>
        <%= link_to "+ Dodaj fiszkę",
                    new_admin_flashcard_set_flashcard_path(@flashcard_set),
                    class: "text-blue-600 w-full text-left #{hover_classes}" %>
      <% end %>
      
      <%= turbo_frame_tag "flashcard_set_edit_flashcards",
                          data: {
                            controller: "sortable",
                            sortable_url_value: admin_flashcard_set_flashcards_path(@flashcard_set),
                            sortable_param_name_value: "position",
                          },
                          class: "w-full" do %>
        <%= render @flashcards %>
      <% end %>
    </div>
  </div>
  </div>
</div>
