<div class="mx-auto mb-3 flex flex-col items-center">
  <div class="mb-2 flex w-full flex-col items-center px-1 sm:flex-row md:w-3/4">
    <%= render "shared/back_button", back_url: sentence_sets_path %>
    <div class="w-full text-center text-2xl font-bold text-gray-800">
      <%= @sentence_set.english_name %> 
      <span class="text-2xl text-gray-500">(<%= @sentence_set.polish_name %>)</span>
    </div>
    <div class="min-w-32"></div>
  </div>
  <% if @sentence_set.sentences.any? %>
    <%= render "sentence" %>
    <%= render "navigation" %>
  <% else %>
    <%= render "shared/empty_set_preview" %>
  <% end %>
</div>

<div class="mt-8 text-center">
  <%= render "show_sentence_translation_link" %>
</div>
