<aside class="border-r-1 hidden w-64 border-gray-300 bg-white px-5 py-5 sm:flex sm:flex-col">
  <%= @sidebar_resources.find_each do |resource| %>
    <% active_resource = resource == @active_sidebard_resource %>
    <% url = @sidebar_resource_path[resource] %>

    <%= link_to url do %>
      <div class="min-h-8 my-1 flex items-center justify-center rounded-lg border border-gray-300 bg-lime-50 <%= hover_classes %> <%= active_resource ? "border-gray-600 font-medium bg-lime-200" : ""%>">
        <%= resource.english_name %>
        (<%= resource.polish_name %>)
      </div>
    <% end %>
  <% end %>
</aside>
