<aside class="hidden w-64 border-r border-gray-200 bg-white px-4 py-6 shadow-sm sm:flex sm:flex-col">
  <div class="space-y-2">
    <%= @sidebar_resources.find_each do |resource| %>
      <% active_resource = resource == @active_sidebard_resource %>
      <% url = @sidebar_resource_path[resource] %>

      <%= link_to url, class: "block w-full" do %>
        <div class="flex items-center rounded-lg px-3 py-2 text-md <%= active_resource ? 'bg-lime-100 text-lime-700' : 'text-gray-700 hover:bg-lime-50' %>">
          <% if active_resource %>
            <span class="mr-2 h-1.5 w-1.5 rounded-full bg-lime-700"></span>
          <% end %>
          <div>
            <div class="text-md"><%= resource.english_name %></div>
            <div class="text-sm text-gray-500"><%= resource.polish_name %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</aside>
